* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

header {
    text-align: center;
    padding: 10px;
    margin-bottom: 8px;
}

body {
    margin: 20px; /* chrome had 8px by default */
    padding: 0;
    font-family: Helvetica, sans-serif;
    color: #333;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 8px;
    font-size: 0.80em;
}

h1, h2 {
    color: #333;
    font-family: "Times New Roman", Times, serif;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.25em;
}

/* BOXES
 * ----------------------------------------------------------
 */
.box {
    position: relative;
    width: 100%;
    padding: 10px;
    padding-top: 23px; /* This makes the space for the title.*/
    background: #eee;
    border: 2px solid #333;
}
.box > * {
    margin-bottom: 0;
}
.box-title {
    text-align: center;
    position: absolute;
    top: -2px;
    right: -2px;
    border: 2px solid #333;
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}
/* Box titles colors */
.row div:nth-child(1) .box-title {
    background: #d9534f;
}
.row div:nth-child(2) .box-title {
    background: #5cb85c;
}
.row div:nth-child(3) .box-title {
    background: #337ab7;
}

/* RESPONSIVE
 * ----------------------------------------------------------
 * for this propose it has been generated
 * a grid sistem based on 6 columns,
 * as you can see on the media query.
 */
.row {
    margin-left: -10px;
    margin-right: -10px;
    display: inline-block; /* This is important, the .row div will
                            * fill its height according to the content.
                            * Otherwise, there will be problems because
                            * all its internal elements are floating
                            * and their spot is not conserved.
                            *
                            * Alternative > clear:both; on the next div.
                            */
}
[class*="col-"] {
    padding: 10px;
    float: left;
}

/* desktop */
@media (min-width: 992px) {
    .lg-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
    .col-lg-1 {
        width : 16.6666%;
    }
    .col-lg-2 {
        width : 33.3333%;
    }
    .col-lg-3 {
        width : 50%;
    }
    .col-lg-4 {
        width : 66.6666%;
    }
    .col-lg-5 {
        width : 83.3333%;
    }
    .col-lg-6 {
        width : 100%;
    }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .md-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
    .col-md-1 {
        width : 16.6666%;
    }
    .col-md-2 {
        width : 33.3333%;
    }
    .col-md-3 {
        width : 50%;
    }
    .col-md-4 {
        width : 66.6666%;
    }
    .col-md-5 {
        width : 83.3333%;
    }
    .col-md-6 {
        width : 100%;
    }
}

/* phone */
@media (max-width: 767px) {
    .sm-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
    .col-sm-1 {
        width: 16.6666%;
    }
    .col-sm-2 {
        width: 33.3333%;
    }
    .col-sm-3 {
        width: 50%;
    }
    .col-sm-4 {
        width: 66.6666%;
    }
    .col-sm-5 {
        width: 83.3333%;
    }
    .col-sm-6 {
        width: 100%;
    }
}
